form{
    width: 30%;
    margin: auto;
    align-content: center;
    
}

h4{
    font-size: 3rem;
    display: table;
    margin: 10% auto 3% auto;
    color: #c2185b;
}

.form-container{
    display: inline;
    width: 70%;
    margin: 0;
    padding: 0 10%;
}

.form-input{
    display: inline;
    margin: 5px;
}

.btn-save{
    display: block;
    background-color: #047b22e6;
    color: #eee9e9;
    width: 100px;
    margin: 10px auto auto auto;
}

.btn-delete{
    display: block;
    background-color: rgb(255, 21, 21);
    color: #eee9e9;
    width: 100px;
    margin: 10px auto auto auto;
}

.btn-voltar{
    display: block;
    background-color: #c68203e6;
    color: #eee9e9;
    width: 100px;
    margin: 10px auto auto auto;
}
