<div class="add-container">
  
  <div class="form-container">

    <form [formGroup]="formEditar" (ngSubmit)="editarLivro(formEditar)">
      
    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Titulo</mat-label>
      <input 
        name="titulo"
        formControlName="inputTitulo"
        matInput 
        required
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Autor</mat-label>
      <input 
        name="autor"
        formControlName="inputAutor"
        required
        matInput 
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Url Capa</mat-label>
      <input 
        name="capa"
        required
        formControlName="inputCapa"
        (focusout)="previewCapa()"
        matInput 
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Data lançamento</mat-label>
      
      <input 
        matInput 
        [matDatepicker]="picker" 
        formControlName="inputLancamento"
        (click)="picker.open()">
      
        <mat-datepicker-toggle matSuffix [for]="picker" style="background-color:#ec0101e6;"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 

    <button type="submit" class="btn-save" mat-button>Salvar</button>

    <button type="button" (click)="apagarLivro()" mat-button class="btn-delete">Apagar</button>

    <button type="button" routerLink="/home" mat-button class="btn-voltar">Voltar</button>
    
  </form>
  </div>

  <div class="cover-container">
    <img class="cover-preview" [src]="capaPreview">  
  </div>
</div> 
