<div class="modal-container">
<form [formGroup]="loanForm" (ngSubmit)="salvarEmprestimo(loanForm)" class="modal-form">

      <mat-form-field appearance="legacy">
        <mat-label>Nome</mat-label>
        <mat-select formControlName="inputId">
          <mat-option *ngFor="let cliente of listaClientes" (click)= clienteSelecionado(cliente) value={{cliente.id}} appearance="legacy">{{cliente.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-input" appearance="legacy">
        <mat-label>Telefone</mat-label>
        <input 
          name="telefone"
          formControlName="inputTelefone"
          matInput 
          required
          placeholder="">
      </mat-form-field>

      <mat-form-field class="form-input" appearance="legacy">
        <mat-label>Endereço</mat-label>
        <input 
          name="endereco"
          formControlName="inputEndereco"
          matInput 
          required
          placeholder="">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Data de devolução</mat-label>
        <input formControlName="inputEntrega" (click)="picker.open()" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <button type="submit" class="btn-save" mat-button>Confirmar</button>

      <button type="button" (click)="fecharModal()" mat-button class="btn-voltar">Voltar</button>

</form>
</div>